@model ProjectBlogNews.Models.Subscription

@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <h1 class="mt-4">Create</h1>

    <div class="card mt-4">
        <div class="card-body">
            <h4 class="card-title">Subscription</h4>
            <hr />

            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="mb-3">
                    <label asp-for="SubscriptionStartDate" class="form-label"></label>
                    <input asp-for="SubscriptionStartDate" class="form-control" />
                    <span asp-validation-for="SubscriptionStartDate" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="SubscriptionEndDate" class="form-label"></label>
                    <input asp-for="SubscriptionEndDate" class="form-control" />
                    <span asp-validation-for="SubscriptionEndDate" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="User" class="form-label"></label>
                    <select asp-for="User" class="form-control" asp-items="ViewBag.User"></select>
                </div>

                <div class="mb-3">
                    <label asp-for="Price" class="form-label"></label>
                    <input asp-for="Price" type= "number" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
    </div>

    <div class="mt-4">
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
