<div class="container">
    <h2 class="mt-4">Payment Successful</h2>

    <div class="card mt-4">
        <div class="card-body">
            <p>Your subscription payment was successful. Thank you!</p>
        </div>
    </div>
</div>
